
/* that is the starting point */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
h3{
    color: bisque;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
}

/* body general properties*/

body {
    font-family: Arial, sans-serif;
    line-height: 1;
    background-color:white;
}


/*header starting*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#6C9BCF;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
   
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    padding: 0px 20px;
    margin-right: 10px;
    display:inline-block;
    list-style-type: none;
}

/*header finished*/
/*section part is starting*/
.leftsidebar{
    height: 700px;
    width: 25%;
    background-color: #6C9BCF;   /* i divided it into 3 divices first:left part */
    float: left;
    margin: 12px;
    text-align: center;
}
.main{
    height: 700px;
    width: 45%;
    background-color:#FE7BE5 ;    /* main part careful:that is class*/
    float: left;
    text-align: center;
    margin: 12px;

}
.rightsidebar{
    height: 700px;
    width: 25%;
    background-color:  #6C9BCF;   /*right part*/
    float: left;
    margin: 12px;
    text-align: center;
   
}



/* to separate the sidebars*/
.box{
    margin: 50px;
    border: grey;
    border-style:double;
    border-radius: 20px; 
    width: 80%;
    
}
/*used it for the image in the main section */
.imgm{
    height: 250px;
    width: 100%;
    padding: 20px;
}
/*general section properties*/
section {
    margin-bottom: 20px;
    

}
/*used to available balance box and account box*/
.img{
    margin-left: 20px;
    margin-top: 10dp;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    float: left;

}
/*to images in the leftsidebar*/
.rate{
    margin-left: 20px;
    margin-top: 10dp;
    width: 50px;
    height: 60px;
    cursor: pointer;
    
}
.rate-text{
    margin-left: 20px;
    text-align: center;
    list-style-type: none;
}
/*to span elements*/
span {
    margin-left: 10px;
    
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: bisque;

}
h4,p{
    margin-left: 45px;
}
/*footer part is starting*/
footer {
    background-color: #6C9BCF;
    height: 150px;
    align-items: end;
    color: #fff;
    margin-bottom: 0px;
    padding: 20px;
    text-align: center;
    clear: both;
}

.fcontent {
    display: flex;
    justify-content: space-around;
}
.about-us {
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}











